{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
      <div class="col text-center">
        <h1>Latest Blog Posts</h1>
      </div>
    </div>
</div>
  
<div class="row row-cols-1 row-cols-md-3 g-4">
        {% for blog in blogs %} 
        <div class="col">
          <div class="card">
            {% if blog.image %}
              <img src="{{blog.image.url}}"  class="card-img-top" alt="{{blog.title}}">
            {% else %}
              <img src="" class="card-img-top" alt="{{blog.title}}">
            {% endif %}
              <div class="card-body">
                <h5 class="card-title" style="float: left;">{{ blog.title|title }}</h5>
                <h5 class='text-italics' style="float: right;"> by {{ blog.owner }}</h5>
                <div style="clear: both;"></div> <!-- Clear the floats to prevent layout issues -->
                <p class="card-text">{{ blog.content|truncatewords:20 }}</p>
                <a class="btn btn-primary" href="{% url 'blog:blog_details' blog.slug %}">View Blog</a>
                <a style='background-color: green;' class="btn btn-secondary" href="{% url 'blog:update_blog' blog.slug %}">Update Blog</a>
                <a style='background-color: red;' class="btn btn-secondary" href="{% url 'blog:delete_blog' blog.slug %}">Delete Blog</a>
              </div>
          </div>
        </div>
        {% endfor %}
      </div>


    

{% endblock content %}