{% extends 'base.html' %}

{% block content %}

<h1>
    Latest ML Blog Posts 
</h1>
<a href = "{% url 'blog:create_blog'%}">
    <button>Create Blog</button>
</a>
{% for blog in blogs %} 
    <div>
        <h3>Viewed: {{blog.view_counts}}</h3>
        <h1> Title: {{blog.title}} </h1>
        <p>Updated on: {{blog.updated_on.time}}</p> 
        <p>Created on: {{blog.created_on.date}}</p> 
        <a href = "{% url 'blog:blog_details' blog.slug %}">Visit Page</a>
        <a href = "{% url 'blog:update_blog' blog.slug %}">Update Blog</a>
    </div>
    
{% endfor %}

{% endblock content %}