<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body style = 'border-radius: 28px; background-color: blueviolet; margin: 1rem'>
    <h2 style = 'color: blue; font-size: 50px; text-shadow: 3px 3px 3px maroon '>{{blog.title}}</h2>
    <p style = 'color: white; font-size: 30px;'>{{blog.content}}</p>
    <a href = "{% url 'blog:all_blogs'%}"><button type="button">Go back to our lovely home page</button></a>

</body>
</html>